@import url(reset.css);
@font-face {
  font-family: norse-bold;
  src: url(Norse-Bold.otf);
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

/* removs the white border around the page */
body {
  margin: 0;
  padding: 10 0;
}

.container {
  display: flex;
  height: 100%;
}

p {
  font-size: 1.2rem;
}

.left {
  width: 35vw;
  height: 100%;
  
   /* set relative so that banner can fit inside .left*/
  position: relative;
}

/* left content */
.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner {
  padding: 20px;
  position: absolute;
  top: 10vh;
  height: 15vh;
  width: 100%;
  background-color: black;
  opacity: 0.6;


  /* to center horizontally & vertically the content */
  display: flex;
  justify-content: center;
  align-items: center;
}
.odin-lined {
  height: 10vh;
}
p.odin {
  color: white;
  font-size: 8vh;
  font-family: norse-bold, sans-serif; 
}

/* right content */
.right {
  flex: 1;
  height: 100%;
  background-color: aliceblue;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right div {
  flex: 1;
}

.right .text {
  flex: 1;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

/* form */
.right .form {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: #ffffff;
  padding: 10px 0;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
}
.input-row {
  display: flex;
  gap: 5vw;
  width: 100%;
  padding-top: 5px;

}
.inputs-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.inputs-container label {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 100;
  color: grey;
}

.inputs-container input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
}

input:invalid {
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none; /* Remove default red glow in Firefox */
}

.header-form {
  padding: 0 20px;
  width: 100%;
  text-align: left;
}

fieldset {
  border: none;
}


/* make the form inputs stretch to fill the width of it's parent div */
.form form {
  width: 100%;
  max-width: 500px;
  padding: 0 8px;
}

/* account */
.account {
  padding: 20px;
  max-width: 500px;
  width: 100%;
  justify-content: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.account button {
  width: 160px;
  margin-bottom: 10px;

  background-color: #04AA6D; /* Green */
  border: none;
  border-radius: 3px;

  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  border: 1px solid #04AA6D;
}
button:hover {
  background-color: white; /* Green */
  color: black;
  border: 1px solid black;
}
