@import url(reset.css);

html, body {
  height: 100%;
}

/* removs the white border around the page */
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100%;
}

p {
  font-size: 1.2rem;
}

.left {
  width: 40vw;
  height: 100%;
  
   /* set relative so that banner can fit inside .left*/
  position: relative;
}

/* left content */
.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner {
  padding: 20px;
  position: absolute;
  top: 10em;
  height: 6em;
  width: 100%;
  background-color: black;
  opacity: 0.6;


  /* to center horizontally & vertically the content */
  display: flex;
  justify-content: center;
  align-items: center;
}
.odin-lined {
  height: 65px;
}
p.odin {
  color: white;
  font-size: 3em;
}

/* right content */
.right {
  flex: 1;
  height: 100%;
  background-color: aliceblue;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right div {
  flex: 1;
}

.right .text {
  flex: 1;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  max-width: 500px;
}

/* form */
.right .form {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: #ffffff;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
}
.input-row {
  display: flex;
  gap: 5vw;
  width: 100%;

}
.inputs-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.inputs-container label {
  display: block;
  width: 100%;
  text-align: left;
}

.inputs-container input {
  width: 100%;
  box-sizing: border-box;
}


.header-form {
  padding: 0 20px;
  width: 100%;
  text-align: left;
}

fieldset {
  border: none;
}

/* make the form inputs stretch to fill the width of it's parent div */
.form form {
  width: 100%;
  max-width: 500px;
  padding: 0 8px;
}

/* account */
.account {
  padding: 20px;
  max-width: 500px;
  width: 100%;
  justify-content: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.account button {
  width: 125px;
}

